:root {
    --corDestaque: #F9A826;
    --corDestaque2: #FAC225;
    --corFonte: #FA6125;
    --corFundoA: #FFC800;
    --corFundo: #7A6A50;
    --corFundo2: #504A41;
    --detalhe: --
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    transition: .2s linear;
    border: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    overflow-x: hidden;
    max-width: 100%;
}

header {
    width: 100%;
}

nav {
    width: 100%;
}

.navbar {
    width: 100%;
    height: 8vh;
    background-color: var(--corFundoA);
    box-shadow: 0px 2px 10px black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    /*     position:  fixed;
 */
}

.navbar a {
    text-decoration: none;
    width: 10%;
    height: 60%;
    border-radius: 15px;
    font-size: 110%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.reason {
    background-color: #E6E6E6;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 2px 10px black;
}

.destaque1 {
    padding: 3%;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-weight: 400;
    font-size: 2rem;

}

.destaque1>h2 {
    font-size: 1.6em;
}

.group-slogan {
    width: 100%;
}

#slogan1 {
    font-size: 1em;
    color: #FA6125;

}

h2 {

    width: 100%;
    margin-left: 10%;
    font-family: "Bungee Shade", sans-serif;
    font-weight: 400;
    font-size: 1.9em;
    line-height: 1.5em;
    color: var(--corFundo2);
    word-wrap: break-word;
}

.reason-img {
    padding: 3%;
    width: 50%;
}

.reason-img>img {

    width: 90%;

}

.group-slogan {
    width: 98%;
    margin: 1% auto;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    /*     border: 1px solid blue;
 */
}

.slogans {
    padding: 2%;
    width: 40%;
    height: 30vh;
    background-color: var(--corFundoA);
    box-shadow: 10px 10px 15px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.slogan-comp {
    padding: 5%;
    width: 80%;
    height: 90px;
    color: black;
    font-size: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}


.slogan-response {
    padding: 5%;
    height: 300px;
    color: var(--corFonte);
    font-size: 3.55em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:  auto 0px;
}

/*iniciando o informativo*/
.info {
    background-image: url("../images/thinking.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 25%;
    width: 98%;
    height: 100%;
    margin: 1% auto;
    margin-top: 10px;
    border: 3px solid var(--corFundoA);
    box-shadow: 1ps 1px 5px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

}

.opening {
    width: 100%;
    background-color: var(--corFundoA);
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.514);
    padding: 0.9%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.opening h3 {
    font-size: 2em;

}

.opening p {
    width: 95%;
    padding: 1% 0.5%;
    font-size: 1em;
    word-wrap: break-word;
}

.types {
    width: 80%;
    margin: 1%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 2%;
}

.card {
    width: 25%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 5px solid var(--corDestaque2);
    box-shadow: 5px 5px 10px black;
    text-align: center;
    font-weight: 400;
    word-wrap: break-word;
    line-height: 1.5em;
}

.card h3 {
    color: var(--corFonte);
    padding: 2%;
    margin: 2%;
    border: 2px solid var(--corFonte);
}

/*iniciando o sobre*/

.slogan-comp3 {
    text-align: center;
    color: var(--corFonte);
    font-size: 2em;
}


.final {
    width: 98%;
    margin: 1% auto;
    display: flex;
    flex-direction: row;
}

.presentation {
    width: 50%;
    height: 100%;
    margin: 3% 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 7px solid var(--corFundoA);
    border-radius: 15px 100px 15px 100px;
    font-size: 1.1em;
    font-weight: 450;
}

.sobre {
    width: 80%;
    margin: 5% 0;
    font-size: 1.2em;
    text-align: justify;
    line-height: 1.4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.msg {
    background-color: var(--corFundoA);
    width: 200px;
    height: 40px;
    margin: 1%;
    border: 10px solid var(--corFonte-);
    border-radius: 15px;
}

.other-services {
    background-image: url("../images/mobile_user.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    width: 50%;
    margin: 3% 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 7px solid var(--corFundoA);
    border-radius: 100px 15px 100px 15px;
    font-weight: 400;
    text-align: center;

}

.other-services h2 {
    font-weight: 600;

}

.services {
    width: 80%;
    height: 65%;
    margin: 5% auto;
    font-size: 1.2em;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;

}

.service {
    width: 80%;
    margin: 0 6%;
    color: var(--corFonte);
    text-align: left;
    font-size: 1em;
    font-weight: 600;
    word-wrap: break-word;
}

/*sobre finalizado/ outros serviços*/


/*FOOTER*/

footer {
    width: 100%;
    margin: auto;
    margin-bottom: 1%;
    border-top: 5px solid var(--corDestaque2);
    font-size: 0.9em;
    text-align: center;
    padding: 1%;
    box-shadow: 0px 2px 10px black;



}

.sections {
    width: 98%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1%;
}

/*primeira sessão*/

.adress-contact {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.whats-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.whats-contact>a {
    text-decoration: none;
}

.whats-contact>a>img {
    width: 40%;
    height: 30%;
}


/*segunda sessão*/
.info-social {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social-icons>a>img {
    width: 70%;
    height: 80%;
}

/*terceira sessão*/


.assignment>p>a {
    text-decoration: none;

}

.assignment>a {
    text-decoration: none;

}

.assignment>p>a>img {
    width: 6%;
    height: 6%;
}



/*mediaQuery*/

@media (max-width:850px) {
    div.types {
        justify-content: center;
        align-items: center;
    }

    div.card {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1%;
    }
}

@media (max-width:640px) {

    body {
        width: 100%;
        margin: 0 auto;
    }

    header,
    main,
    footer {
        width: 100%;
        margin: auto;
    }

    .navbar {
        width: 99%;
        height: 8vh;
        font-size: 90%;
    }

    .reason {
        width: 99%;
        height: 30vh;
        font-size: 50%;
        justify-content: center;
        align-items: center;
    }

    .destaque1 {
        width: 60%;
        height: 20vh;
        padding: 1%;
        font-size: large;
    }

    #slogan2 {
        width: 100%;
        font-size: 1em;
        margin: auto;
        word-wrap: break-word;

    }

    .reason-img>img {
        width: 90%;
    }


    .group-slogan {
        width: 90%;
        height: 30vh;
        margin: auto ;
        margin-top: 10px;
    }



    .slogans {
        padding: 0.5%;
        width: 40%;
        height: 25vh;
        margin: auto;
        font-size: 90%;
        display: flex;
        gap: 10px;
        box-shadow: 2px 2px 7px black;
    }

    .slogans>p {
        font-size: 80%;
    }

    .slogan-comp {
        padding: 2%;
        width: 80%;
        height: 7vh;
        color: black;
        font-size: 2em;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .slogan-resp {
        width: 50%;
        height: 100%;
        margin: auto;

    }

    .slogan-resp>p {

        margin: auto;
        width: 90%;
        height: 80%;
        font-size: large;
    }

    .info {
        width: 90%;
        margin: auto;
        margin-top: 5px;
        background-image: none;
    }

    div.types {
        width: 95%;
        margin: auto;
        display: flex;
        flex-direction: column;

    }

    div.card {
        width: 90%;
        margin: 1px;

    }

    div.card>h3 {
        color: var(--corFonte);
        padding: 2%;
        margin: 2%;
        border: 2px solid var(--corFonte);
    }

    div.card>p {
        font-size: small;
    }


    .slogan-comp3 {
        width: 90%;
        height: 50%;
        margin: 1% auto;
        padding: 2% 0;
    }

    .slogan-comp3>p {
        margin: 2px auto;
        font-size: xx-large;
    }

    .final {
        width: 90%;
        margin: 15px auto;
        display: flex;
        flex-direction: column;
        gap: 5px;

    }

    .presentation {

        width: 99%;
        margin: 1% auto;
        border: none;
        font-size: small;
    }

    .sobre {
        width: 90%;
        height: 80%;
        margin: auto;
        padding: 2%;

    }

    .sobre>p {
        font-size: 15px;
        text-align: justify;
    }

    .sobre>a>button {
        margin: 10px auto;
    }

    .other-services {
        width: 90%;
        background: none;
        margin: auto;
        margin-bottom: 50px;
        padding: 2%;
        font-size: 1em;
        word-wrap: break-word;
    }

    .classsub-title>h2 {
        width: 100%;
        margin: 1% 15%;
        word-wrap: break-word;
        font-size: 1.2em;
    }



    footer {
        width: 100%;
        margin: auto;
    }

    .sections {
        width: 98%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .adress-contact {
        width: 99%;
        margin: 0 auto;
    }
}



@media (max-width:1069px) {
    body {
        width: 100%;
        margin: auto;
    }

    header,
    main,
    footer {
        width: 100%;
    }

    .reason>.destaque1>h2 {
        font-size: 90%;
        word-break: keep-all;
        letter-spacing: 1%;
    }

    .reason-img>img {
        width: 90%;
        height: 90%;
    }

    .slogans {
        justify-content: center;
    }

    .slogan-comp {
        width: 90%;
        height: 50%;
        font-size: 98%;
        font-weight: bold;
    }

    .slogan-rps {
        width: 50%;
        height: 50px;
    }

    .slogan-response {
        height: 50px;
        font-size: xx-large;
    }

    .info {
        background-image: none;

    }

    .types {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        gap: 7px;

    }

    .card {
        width: 45%;
    }


    .final {
        flex-wrap: wrap;
        gap: 5px;
    }

    .presentation,
    .other-services {
        width: 95%;
        background-position: bottom right;
        margin: 0 auto;
    }

    .other-services {
        font-size: 80%;
    }
}

@media (min-width:1070px) {
    .slogans{
        height:auto;
    }
    .slogan-comp {
        margin: 30px auto;
    }
}